@use "../styles/variables" as *;
// -------------------------------------------------- Hero
.home_hero {
  position: relative;
  height: 90dvh;
  &_img {
    position: relative;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  &_content {
    padding: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    max-width: 920px;
    width: 100%;
    z-index: 999;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    & h2 {
      color: white;
      font-size: 50px;
      font-weight: bold;
    }
  }
}

// --------------------------------------------------------- 1st sec
.home_intro {
  &_wrapper {
    padding: 100px 45px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
    gap: 70px;
  }
  &_img {
    width: 40%;
    height: 450px;
    position: relative;
    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &_over {
      position: absolute;
      bottom: -30px;
      right: -30px;
      width: 100%;
      height: 100%;
      border: 10px solid $primary-1;
      &_content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        line-height: 1;
        width: 180px;
        height: 180px;
        position: absolute;
        bottom: 0;
        right: 0;
        color: white;
        background-color: $primary-1;
        & h2 {
          font-size: 60px;
        }
        & p {
          font-size: 24px;
        }
      }
    }
  }
  &_content {
    width: 60%;
    & h2 {
      max-width: 480px;
      color: $head-1;
      font-size: 38px;
      margin-bottom: 25px;
    }

    & p {
      max-width: 520px;
      line-height: 1.6;
    }
    &_ul {
      display: flex;
      align-items: center;
      gap: 50px;
      & li figure {
        display: flex;
        gap: 10px;
        & img {
          padding: 10px;
          background-color: $sp-1;
        }
      }
    }
  }
}
.intro_line {
    max-width: 1100px;
    margin: 0 auto;
}
.intro_bottom_info {
    padding: 100px 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    &_ul {
      width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 25px;
        & li {
          max-width: 300px;
        }
        &_fig {
            display: flex;
            align-items: start;
            gap: 7px;
            & img {
                background-color: $sp-1;
                padding: 10px;
            }
            & h4 {
                font-size: 24px;
                margin-bottom: 10px;
            }
            & p {
                font-size: 18px;
            }
        }
    }
}
@media (max-width:768px) {
  .home_intro {
    &_wrapper {
      padding: 55px 45px;
      flex-direction: column;
    }
    &_img {
      transform: translateX(-15px);
      width: 100%;
    }
    &_content {
      width: 100%;
    }
  }
  .intro_bottom_info {
    padding: 55px 45px;
  }

}

// --------------------------------------------------------- Homes sec
.home_homes {
  background-color: $bg-1;
  padding: 100px 45px;
  &_head {
    text-align: center;
    h2 {
      font-size: 38px;
      color: $head-1;
      margin-bottom: 8px;
    }

    p {
      color: #5a5f67;
      font-size: 18px;
    }
  }
  &_wrapper {
    display: grid;
    gap: 35px;
  }


  &_grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 24px;
  }

  
}

@media (max-width: 1100px) {
  .home_homes {
    &_grid {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
}

@media (max-width: 768px) {
  .home_homes {
    padding: 0 20px 70px;

    &_head {
      h2 {
        font-size: 30px;
      }

      p {
        font-size: 16px;
      }
    }

    &_grid {
      grid-template-columns: 1fr;
    }
  }
}
