.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 45px;
    &_nav {
        &_ul {
            display: flex;
            align-items: center;
            gap: 40px;
            font-size: 18px;
        }
    }
}